<h3>Products Available</h3>
<div class="row">
  <!-- Publicly available products -->
  <% if @products.present? %>
    <div class="list-group col-md-4">
      <% @products.each do |product| %>
        <%= link_to product.title, product, class: 'list-group-item' %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <!-- Logged in user's products -->
  <% if user_signed_in? %>
    <% if @my_products.present? %>
      <h3>Your Products</h3>
      <div class="list-group col-md-4">
        <% if @my_products.present? %>
          <% @my_products.each do |product| %>
            <%= link_to product.title, product, class: 'list-group-item' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
