<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello User </h1>

    <p>
      Please Use this login credentials for <a href="23.20.37.229">C3Suite </a> : <br>
      Email : <%= @user.email %><br>
      Password : <%= @user.password %><br>

      Change password from Edit Profile 


    </p>
  </body>
</html>
