<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users = Puser.all %>
    <% @users.each do |puser| %>
      <tr>
        <td><%= puser.username %></td>
          <% if !puser.isadmin %>
          <td><%= link_to 'Make admin', {:action => 'makeadmin', :id => puser.id} %></td>
        <% else %>
          <td><%= link_to 'Remove admin', {:action => 'makeadmin', :id => puser.id} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
