.panel.panel-default
  .panel-heading
    = link_to flashcard.title, admin_product_flashcard_path(@product, flashcard.specific)
    .pull-right
      .btn.btn-default.btn-xs
        = link_to('edit', edit_admin_product_flashcard_path(@product, flashcard.specific))
  .panel-body
    Flashcard deck details go here
