.panel.panel-default
  .panel-heading
    = html.title
    .pull-right
      .btn.btn-default.btn-xs
        = link_to('edit', edit_admin_product_html_path(@product, html.specific))
  .panel-body
    html excerpt will go here