.panel.panel-default
  .panel-heading
    = html.name
    .pull-right
      .btn.btn-default.btn-xs
        = link_to('edit', edit_admin_content_html_url(html.id))
  .panel-body
    html excerpt will go here