.panel.panel-default
  .panel-heading
    %span.h5
      = link_to media.title, admin_product_media_path(@product, media.specific)
    .label.label-default
      = media.specific.local_type.capitalize
    .pull-right
      .btn.btn-default.btn-xs
        = link_to('edit', edit_admin_product_media_path(@product, media.specific))
  .panel-body
    = media.specific.caption