.panel.panel-default
  .panel-heading
    .h4
      = modulee.name
      .pull-right
        .btn.btn-default.btn-sm
          Edit
  .panel-body
    - modulee.children.each do |child|
      = render partial: child.actable_type.downcase, object: child
    .pull-right
      Add:
      .btn.btn-default.btn-sm
        Submodule
      .btn.btn-default.btn-sm
        = link_to('HTML', new_admin_content_html_url(modulee))
      .btn.btn-default.btn-sm
        Video
      .btn.btn-default.btn-sm
        Audio
      .btn.btn-default.btn-sm
        Quiz
      .btn.btn-default.btn-sm
        Flashcard
- if !modulee.parent
  .pull-right
    .btn.btn-default
      Add Module
