.panel.panel-default
  .panel-heading
    = quiz.title
    .pull-right
      .btn.btn-default.btn-xs
        = link_to('edit', edit_admin_product_quiz_path(@product, quiz.specific))
  .panel-body
    quiz details go here
