<p>
	<strong>Name:</strong> <%= @product.name %>
  <br/><br/>
  <strong>Visibility:</strong> <%= @product.visibility %>
</p>
<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
