<br/>

<h5>
	<strong>Name:</strong> <%= @product.name %>
  <br/><br/>
  <strong>Visibility:</strong> <%= @product.visibility %>
</h5>

<br/>

<%= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-sm btn-success' %> <%= link_to 'Back', admin_products_path, class: 'btn btn-sm btn-primary' %>
