<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello </h1>
    <p>
      Please Also Select Modules for the Content Contributor 
    </p>
    <%= link_to 'Back', edit_admin_product_path(@product), class: 'btn btn-sm btn-primary' %>
  </body>
</html>
