// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remove_fields {
  margin-top: 26px;
}

.ui-sortable {
  margin-left: 0;
  margin-right: 0;
}

.ui-sortable-handle {
  margin-left: -40px;
  list-style: none;
}
