.row
  = image_tag('http://lorempixel.com/1920/480', class: 'center-block img-responsive hidden-xs')
  = image_tag('http://lorempixel.com/200/200', class: 'center-block img-callout')
.row.product-title
  %h1
    = @product.title
