.row
  = image_tag('http://lorempixel.com/1920/480', class: 'center-block img-responsive hidden-xs')
  = image_tag('http://lorempixel.com/200/200', class: 'center-block img-callout')
.row.product-title
  %h1
    = @product.title
.row
  .col-sm-8
    %p EMT Basic review material on the go on sale for semester start!
    %p Over 1000 Quiz Questions and 1000 Flashcards!
    %p The EMT tutor is a comprehensive training tool for the EMT Basic. Whether you are a seasoned veteran or starting class this app will position you for success in the real world. If you are a student going through class you will benefit from this app. Simultaneously, so will a seasoned veteran that is trying to stay current on recent developments.
    %p The material has been prepared and verified with 2013 text books and includes the additional information now presented in most classes that includes Pathophysiology, Life Span Development, and expanded Anatomy and Physiology sections. Over 1000 Possible quiz questions and 1000 flashcards available.
    %p 5 major components differentiate us from our competitors:
    %p 1. A Bookmarking feature that allows the user to save difficult questions, flashcards, or scenarios for later study. This allows the user to tailor the experience to their needs.
    %p 2. Explanations so that the user learns from every question and flashcard.
    %p 3. Over 1000 Quiz Questions and 1000 Flashcards prepared by EMS instructors that are involved in both EMS education, and running calls in the streets. This enables the material to be relevant for students and to prepare you for the real world.
    %p 4. A Scenario based section has been developed to aid in taking text book material from page to street. Over 50 scenarios are given here, with more to come, that a user can go through on their own or with a field instructor to stimulate the thinking processes that occur on a 911 call.
    %p 5. Material that has been developed by EMS educators that are current on latest NREMT developments. Our material has been developed for the iPhone user and cannot be found on a website somewhere for free. Because of this we believe that our material is for learning and teaching on the iPhone not for assessing how smart the user is. Other material is built to assess, ours is built to teach.
  .col-sm-4
    .panel.panel-default.panel-body
      Subscribe Now
      %h3 $4.99
      .btn.btn-default
        Buy